


.banner {
    position: relative;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    height:100vh;
    color: black;
    overflow: hidden;
    
    background-position: center center;
    
    background-color: #FFDCC5;
    
    

}




.banner_contents {
    margin-left: 30px;
    padding-top: 15%;
    height: 190px;

}
.banner_title {
    
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 0.3rem;
    color: #193E6C;
}

.banner_description {
    color: #94483B;
    width: 800px;
}

.signupbutton {
    background-color: #193E6C;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    padding: 20px;
    margin-top: 20px;
    font-size: 1em;
    cursor: pointer;

    

}
