.page-footer1 {
    background-color: #FFDCC5;
}

.page-footer1 {
    position:relative;
    bottom: 0;
    left: 0;
    height: 180px;
}
.footer-copyright {
    background-color: #94483B;
    color: white;
}

.icon-bottom {
    height: 50px;
}

.social-icon-bottom {
    height: 30px;
}


.social-icon-bottom1 {
    height: 23px;
}