* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: white;
  width: 100%;
  height: 40vh;
  
  justify-content: center;
  
}
.content_title {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 2em;
    color: #193e6c;
    max-width: 500px;
  }

.slider {
  background-color: white;
  width: 75%;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.slider .slider-track {
  display: flex;
  width: 100%;
  justify-content: center;
}

.slider .slide img {
  padding-left: 35px;
  padding-right: 35px;
  height: 30px;
}

.section_line {
    height: 3px;
    width: 100vh;
    background-color: grey;
    border: none;
    margin-top: 3%;
    margin-bottom: 2%;
}